@use "sass:math";

.datalist {
    display: flex;
    overflow: hidden;
    align-items: center;
    background-color: white;
    border-radius: $border-radius;
    border: 1px solid $color-secondary;

    input {
        width: 100%;
        border: none;
        font-size: $fz;
        padding: math.div($spacing, 2);
    }

    svg {
        fill: $color-secondary;
        width: 20px;
        height: 20px;
        margin-left: math.div($spacing, 2);
    }
}
