// <!-- Usage -->
// <div class="loader__container">
//  <div class="loader">
//    <div class="loader__bar"></div>
//    <div class="loader__bar"></div>
//    <div class="loader__bar"></div>
//    <div class="loader__bar"></div>
//    <div class="loader__bar"></div>
//  </div>
// </div>

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
}

.loader__container {
    z-index: 8;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;

    position: relative;
    width: 100%;
    height: 100%;
}

:host-context(.loader__portal) {
    .loader__container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        max-height: 262px;
        background-color: white;
    }
}

.loader {
    width: 60px;
    height: 40px;
    font-size: 10px;
    text-align: center;
}

.loader__bar {
    width: 6px;
    height: 100%;
    margin: 0 1px;
    display: inline-block;
    background-color: $color-accent-2;
    border-radius: $border-radius;

    animation: stretchdelay 1s infinite ease-in-out;

    &:nth-child(2) {
        animation-delay: -0.9s;
    }
    &:nth-child(3) {
        animation-delay: -0.8s;
    }
    &:nth-child(4) {
        animation-delay: -0.7s;
    }
    &:nth-child(5) {
        animation-delay: -0.6s;
    }
}
